# VCS / CI / IDE
.git
.github
.githooks
.idea
.vscode
*.iml

# Gradle / build
.gradle
build
**/build

# Node / front
node_modules
miniapp/node_modules
miniapp/dist

# Logs / temp
*.log
*.tmp

# Secrets / env
.env
.env.*
docker-compose*.yml
